NEXT_PUBLIC_SUPABASE_URL=https://cvhutjpxflynrfcvszdy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wTpL7pv8qYUnaWGEKbgiug_HknftCj4
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCIaK7AvsGOUBhmRojkTG4bC-tPLUEIJBY
NEXT_PUBLIC_MAILCHIMP_ACTION=https://hotmail.us9.list-manage.com/subscribe/post?u=229fdd0eb0fd96b25d7441643&amp;id=d43c188b80&amp;f_id=0019cee1f0
